html, body {
  background: rgba(0, 0, 0, 0);
}

body {
  font-size: 15px;
  -webkit-app-region: drag;
}

*:active, *:focus {
  outline: none !important;
}

main {
  margin: 20px;
  padding: 10px;
  position: relative;
  border-radius: 6px;
  background-color: #fff;
  width: calc(100vw - 40px);
  height: calc(100vh - 50px);
  box-shadow: 0 8px 30px -2px rgba(0, 0, 0, .3);
}

main > button.close {
  font-size: 28px;
  margin-right: 5px;
}

main > .container[ui-view] {
  margin-top: 30px;
}

main .animated.delayed {
  animation-delay: .4s;
}

main .animated.delayed-2x {
  animation-delay: .8s;
}

p.lead {
  font-size: 18px;
  font-weight: 400 !important;
}

a, button {
  -webkit-app-region: no-drag;
}

footer {
  left: 40px;
  bottom: 15px;
  position: absolute;
  width: calc(100% - 80px);
}

.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

section.main button {
  margin-top: 30px;
}
