html, body {
  overflow: hidden;
  background: rgba(0, 0, 0, 0);
}

body {
  font-size: 15px;
}

*:active, *:focus {
  outline: none !important;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

main {
  margin: 20px;
  padding: 10px;
  overflow: hidden;
  position: relative;
  border-radius: 6px;
  background-color: #fff;
  width: calc(100vw - 40px);
  height: calc(100vh - 50px);
  box-shadow: 0 8px 30px -2px rgba(0, 0, 0, .3);
}

button.close {
  font-size: 28px;
}

a.settings {
  cursor: pointer;
}

main > button.close {
  margin-right: 5px;
}

main > hr {
  margin-top: 10px;
  margin-bottom: 40px;
}

main > .container[ui-view] {
  margin-top: 30px;
}

.animated {
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.animated.delayed {
  animation-delay: .4s;
}

.animated.delayed-2x {
  animation-delay: .8s;
}

.draggable, .dragarea {
  -webkit-app-region: drag;
}

.dragarea {
  top: 0;
  left: 0;
  position: absolute;
  height: 50px;
  width: calc(100% - 40px);
}

p.lead {
  font-size: 18px;
  font-weight: 400 !important;
}

a, input, textarea, button {
  -webkit-app-region: no-drag;
}

footer {
  left: 40px;
  bottom: 15px;
  position: absolute;
  width: calc(100% - 80px);
}

section.main button {
  margin-top: 30px;
}

.window-title {
  font-size: 14px;
  display: inline-block;
}

.window-title img {
  margin-right: 10px;
}

.full-width {
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}

.dropdown-toggle .caret,
.moment-picker .caret {
  right: 14px;
  color: #bbb;
  margin-top: 10px;
  position: absolute;
}

#btn-firms {
  width: 220px;
}

#btn-firms .firm,
#btn-firms ~ ul li a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
}

#btn-firms .firm {
  width: 170px;
}

#btn-firms ~ ul li a {
  width: 100%;
}

#btn-period {
  width: 140px;
}

#btn-form-type {
  width: 140px;
}

#btn-commands .btn {
  width: 88px;
}

.moment-picker {
  display: inline-block;
}

.modal {
  text-align: center;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal .modal-dialog {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}

.modal.fade .modal-dialog {
  transform: scale(1.3);
}

.modal.fade.in .modal-dialog {
  transform: scale(1);
}

.modal.login .modal-dialog {
  width: 450px;
}

.modal-body {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  padding: 50px 60px 50px;
}

.modal-content {
  border-radius: 8px;
  box-shadow: 0 8px 30px -2px rgba(0, 0, 0, .3);
}

.modal-backdrop {
  top: 20px;
  right: 20px;
  bottom: 30px;
  left: 20px;
  border-radius: 6px;
}

.form .btn-toolbar {
  margin-top: 35px;
}

.modal .form .btn-toolbar .btn {
  width: 110px;
  margin-right: 5px;
}

.ui-notification {
  width: 250px;
  border-radius: 4px;
  text-align: center;
}

.modal-spinner,
.modal-spinner:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.modal-spinner {
  font-size: .18em;
  position: absolute;
  top: 10px;
  right: 10px;
  text-indent: -9999em;
  border-top: 1.8em solid rgba(33,150,243, 0.2);
  border-right: 1.8em solid rgba(33,150,243, 0.2);
  border-bottom: 1.8em solid rgba(33,150,243, 0.2);
  border-left: 1.8em solid #2196f3;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: modal-spinner 1.1s infinite linear;
  animation: modal-spinner 1.1s infinite linear;
}

@-webkit-keyframes modal-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes modal-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
