html, body {
  overflow: hidden;
  background: rgba(0, 0, 0, 0);
}

body {
  font-size: 15px;
}

*:active, *:focus {
  outline: none !important;
}

.mt-0 {
  margin-top: 0;
}

.form-control {
  height: inherit;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

main {
  margin: 20px;
  padding: 10px;
  overflow: hidden;
  position: relative;
  border-radius: 6px;
  background-color: #fff;
  width: calc(100vw - 40px);
  height: calc(100vh - 50px);
  box-shadow: 0 8px 30px -2px rgba(0, 0, 0, .3);
}

button.close {
  font-size: 28px;
}

a.settings {
  cursor: pointer;
}

main > button.close {
  margin-right: 5px;
}

main > hr {
  margin-top: 10px;
  margin-bottom: 40px;
}

main > .container[ui-view] {
  height: 100%;
  margin-top: 30px;
  position: relative;
}

.animated {
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.animated.delayed {
  animation-delay: .4s;
}

.animated.delayed-2x {
  animation-delay: .8s;
}

.draggable, .dragarea {
  -webkit-app-region: drag;
}

.dragarea {
  top: 0;
  left: 0;
  position: absolute;
  height: 50px;
  width: calc(100% - 40px);
}

p.lead {
  font-size: 18px;
  font-weight: 400 !important;
}

a, input, textarea, button {
  -webkit-app-region: no-drag;
}

footer {
  left: 45px;
  bottom: 15px;
  position: absolute;
  width: calc(100% - 90px);
}

section.main button {
  margin-top: 30px;
}

.window-title {
  font-size: 14px;
  display: inline-block;
}

.window-title img {
  margin-right: 10px;
}

.full-width {
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}

.dropdown-toggle .caret,
[moment-picker] .caret {
  right: 14px;
  margin-top: 10px;
  position: absolute;
}

button span, a span {
  cursor: pointer;
}

#btn-firms {
  width: 225px;
}

#btn-firms ~ ul {
  max-height: 300px;
  overflow-y: auto;
}

#btn-firms .firm,
#btn-firms ~ ul li a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
}

#btn-firms .firm {
  width: 175px;
}

#btn-firms ~ ul li a {
  width: 100%;
}

#btn-period {
  width: 140px;
}

#btn-form-type {
  width: 140px;
}

#btn-commands .btn {
  width: 88px;
}

.moment-picker {
  display: inline-block;
}

.form .btn-toolbar {
  margin-top: 35px;
}

.form .btn-toolbar.center .btn {
  float: none;
}

.ui-notification {
  width: 250px;
  border-radius: 4px;
  text-align: center;
}

.main-message {
  top: 40%;
  left: 48%;
  height: 200px;
  position: absolute;
  text-align: center;
  transform: translate(-48%, -55%);
}

ul.export {
  min-width: 118px;
  max-width: 118px;
}
