<div class="modal-body">
  <form class="form" name="loginForm">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>E-posta</label>
          <input type="email" name="email" class="form-control" required="required" autofocus="autofocus"/>
        </div>
        <div class="form-group">
          <label>Parola</label>
          <input type="password" name="password" class="form-control" required="required"/>
        </div>
      </div>
    </div>
    <div class="btn-toolbar">
      <button type="submit" class="btn btn-primary btn-lg">Giriş Yap</button>
      <button type="button" class="btn btn-default btn-lg" ng-click="$dismiss()">Vazgeç</button>
    </div>
  </form>
</div>
