<header>
  <div class="row">
    <div class="col-sm-8 animated zoomIn delayed">
      <h3>i-Mutabakat Logo</h3>
      <p class="lead">Ticari sistemizde kayıtlı bakiye ve Form-B bilgilerini tek tıklamayla i-Mutabakat'a
        aktarın.</p>
    </div>
    <div class="col-sm-4 animated fadeInUp delayed">
      <img src="./assets/images/logo-96.png" alt="Logo" class="pull-right">
    </div>
  </div>
</header>
<section class="main">
  <button class="btn btn-lg btn-default animated bounceIn delayed-2x" ng-click="login()">Uygulamaya Bağlan</button>
</section>
