<header>
  <div class="row">
    <div class="col-sm-8 animated zoomIn delayed">
      <h3>i-Mutabakat Logo</h3>
      <p class="lead">Ticari sistemizde kayıtlı bakiye ve Form-B bilgilerini tek tıklamayla i-Mutabakat'a
        aktarın.</p>
    </div>
    <div class="col-sm-4 animated slideInUp delayed">
      <img src="assets/images/logo-96.png" alt="Logo" class="pull-right">
    </div>
  </div>
</header>
<section class="main">
  <button class="btn btn-lg btn-default animated zoomIn delayed">Uygulamaya Bağlan</button>
</section>
<footer>
  <hr class="animated fadeIn delayed">
  <p class="animated fadeInLeft delayed">
    Logo bağlantı bilgilerinizi değiştirmek için
    <a href="https://www.i-mutabakat.com" class="settings" target="_blank">buraya</a> tıklayın.
  </p>
</footer>
