<script type="text/ng-template" id="headerCheckbox.html">
  <input type="checkbox" ng-model="checkboxes.checked" class="select-all" value="" />
</script>

<section class="animated fadeIn text-center">
  <div class="btn-group animated bounceIn" uib-dropdown keyboard-nav>
    <button id="btn-firms" type="button" class="btn btn-default" uib-dropdown-toggle>
      <span class="pull-left">
        <span class="firm" ng-show="firm">
          {{("000" + firm.nr).slice(-3)}}, {{firm.name}}
        </span>
        <span ng-show="!firm">Firma</span>
      </span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu full-width" uib-dropdown-menu role="menu" aria-labelledby="btn-firms">
      <li role="menuitem" ng-repeat="firm in firms">
        <a href ng-click="selectFirm(firm)">
          {{("000" + firm.nr).slice(-3)}}, {{firm.name}}
        </a>
      </li>
    </ul>
  </div>
  &nbsp;
  <a id="btn-period" class="btn btn-default animated bounceIn" moment-picker="selectedDate" format="MMMM YYYY" keyboard="true" today="true" change="selectDate(newValue)">
    <span class="pull-left">
      {{selectedDate || 'Dönem'}}
    </span>
    <span class="caret"></span>
  </a>
  &nbsp;
  <div class="btn-group animated bounceIn" uib-dropdown keyboard-nav>
    <button id="btn-form-type" type="button" class="btn btn-default" uib-dropdown-toggle>
      <span class="pull-left">
        {{form.name || 'Form tipi'}}
      </span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu full-width" uib-dropdown-menu role="menu" aria-labelledby="btn-form-type">
      <li role="menuitem" ng-repeat="form in forms">
        <a href ng-click="selectForm(form)">{{form.name}}</a>
      </li>
    </ul>
  </div>
  &nbsp;
  <div id="btn-commands" class="btn-group animated bounceIn">
    <a class="btn btn-default" ng-disabled="!loaded">Filtrele</a>

    <div class="btn-group" uib-dropdown keyboard-nav>
      <button id="btn-export" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="!loaded || isEmpty">
        <span class="pull-left">
          Aktar
        </span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu export" uib-dropdown-menu role="menu" aria-labelledby="btn-export">
        <li role="menuitem">
          <a href>Excel'e</a>
        </li>
        <li role="menuitem">
          <a href>i-Mutabakat'a</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="main-message" ng-show="isEmpty || !(loading || loaded)">
    <img src="./assets/images/no-data-96.png" class="animated bounceIn delayed" width="96">
    <h3 class="text-success animated zoomIn delayed">Burası çok ıssız!</h3>
    <h4 class="text-muted animated fadeIn delayed-2x" ng-class="{'hidden': isEmpty}">Firma, dönem ve form tipi seçin...</h4>
    <h4 class="text-muted animated fadeIn" ng-show="isEmpty">Ne yazık ki uygun kayıt bulamadık.</h4>
  </div>

  <div class="main-message" ng-show="loaded && !isEmpty">
    <img src="./assets/images/data-96.png" class="animated bounceIn delayed" width="96">
    <h3 class="text-warning animated zoomIn delayed">{{count | number: 0}} kayıt bulduk.</h3>
    <h5 class="text-muted animated fadeIn">Kayıtları filtreleyebilir ve dışarıya aktarabilirsiniz</a>.</h5>
  </div>

  <div class="main-spinner" ng-show="loading">
  </div>
</section>
